body {
  background-color: gray;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  text-align:center;
  font-family: Arial;
  color: black;
}
.topics {
  background-color: white;
}
.topics ul {
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding-left: 10%;
    overflow: hidden;
}
.topics li {
    float: left;
}
.topics li a {
    display: inline-block;
    color: gray;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.topics li a:hover {
    background-color: #111;
}
.first {
  padding-top: 1em;
  border: 1px black;
}