body {
   background-color: #E4ECF2;
   text-align:center;
   font-family: Arial;
   color: #2E3F4F;
}
.index-nav {
  width: 100%;
  margin: 0;
  background-color: #C0C6CC;
  padding: 0;
  display: inline-block;
  border-top: 3px solid gray;
}
.mainframe {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 500px;
  border-left: 3px solid gray;
  border-right: 3px solid gray;
  border-bottom: 3px solid gray;

}
a {
  display: inline-block;
  padding: 0.5em;
}
.tiny {
  font-size:8px;
  text-align:center;
}
.strip{
   padding:0;
}
header {
  text-align: center;
}
footer {
  width: 50%;
  text-align: center;
  position: fixed;
  margin-right: 25%;
  margin-left: 25%;
  margin-bottom: 0;
  padding: 0;
}
